* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
  max-width: 1440px;
  min-width: 320px;
}

#header {
  text-align: center;
  margin: 2rem auto;
}

@media screen and (max-width: 360px) {
  #header {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

#header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  background-color: transparent;
}

@media screen and (max-width: 360px) {
  #header img {
    width: 4rem;
    height: 4rem;
  }
}

#header h1 {
  font-size: 1.1rem;
}

#user-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  max-width: 30rem;
  margin: 2rem auto;
  border-radius: 4px;
  background: linear-gradient(180deg, #307e6c, #2b996d);
}

.input-group {
  display: flex; 
  justify-content: space-between;
  align-items: baseline;
}

#user-input label {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
}

#user-input input {
  width: 200px;
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #c2e9e0;
  font-size: 1rem;
}

#user-input select {
  width: 200px;
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #c2e9e0;
  font-size: 1rem;
}

#results {
  max-width: 30rem;
  margin: 2rem auto;
  padding: 1rem;
  text-align: right;
}

.results-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
